# exclude all
/*
# except these files/folders
!.gitignore
!scripts/

# then exclude specific folder and file types

*.code-workspace
*.RData
*.Rhistory
*.Rproj
scripts/dst_02_prioritizr/.Rproj.user
*.rds