# exclude all
/*
# except these files/folders
!.gitignore
!scripts/
!README.md

# then exclude specific folder and file types

*.code-workspace
*.RData
*.Rhistory
*.Rproj
scripts/dst_02_prioritizr/.Rproj.user
scripts/dst_02_prioritizr/outputs
*.rds
*.pdf
*.exe
*.PBSyncDB
*.zcp
*.dbf
*.sbn
*.sbx
*.shp
*.xml
*.shx
*.ini
*.bat
*.prj
*.svg

*Tutorial_Marxan_with_zones/
*output/
*input/
*scenario_*/